# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, @darisadam will be requested for review when someone opens a pull request.
* @darisadam

# Order is important; the last matching pattern takes the most precedence.

# GitHub Actions workflows
.github/workflows/ @darisadam
