[submodule "Madabank/Modules/Shared/Core"]
	path = Madabank/Modules/Shared/Core
	url = ../madabank-core.git
[submodule "Madabank/Modules/Shared/Networking"]
	path = Madabank/Modules/Shared/Networking
	url = ../madabank-networking.git
[submodule "Madabank/Modules/Shared/Domain"]
	path = Madabank/Modules/Shared/Domain
	url = ../madabank-domain.git
[submodule "Madabank/Modules/Shared/Data"]
	path = Madabank/Modules/Shared/Data
	url = ../madabank-data.git
[submodule "Madabank/Modules/Shared/CommonUI"]
	path = Madabank/Modules/Shared/CommonUI
	url = ../madabank-common-ui.git
[submodule "Madabank/Modules/Features/Auth"]
	path = Madabank/Modules/Features/Auth
	url = ../madabank-auth.git
[submodule "Madabank/Modules/Features/Home"]
	path = Madabank/Modules/Features/Home
	url = ../madabank-home.git
[submodule "Madabank/Modules/Features/Accounts"]
	path = Madabank/Modules/Features/Accounts
	url = ../madabank-accounts.git
[submodule "Madabank/Modules/Features/Cards"]
	path = Madabank/Modules/Features/Cards
	url = ../madabank-cards.git
[submodule "Madabank/Modules/Features/Transactions"]
	path = Madabank/Modules/Features/Transactions
	url = ../madabank-transactions.git
[submodule "Madabank/Modules/Features/Profile"]
	path = Madabank/Modules/Features/Profile
	url = ../madabank-profile.git
